@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface-0 text-gray-100;
    font-family: 'Inter', system-ui, sans-serif;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-surface-1;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-surface-3 rounded;
  }
}
